.container
{
    height: 700px;
    border: 1px solid red;
    background-color: yellow;
    display: grid;
    grid-template-rows: 40px 150px 300px 30px;
    grid-template-columns: 700px; 
    grid-template-areas: 
    "hd hd hd"
    "sd sd sd"
    "ct ct ct"
    "ft ft ft";


}
.box
{
    border: 1px solid black;
    background-color: aqua;
    /* width: 100px;
    height: 100px; */
    
}
#header
{
    grid-area: hd;
}
#sibebar
{
    grid-area: sd hd;
}
#content
{
    grid-area: ct;
}
#footer
{
    grid-area: ft;
}